@charset "UTF/8";

*{
    margin: 0;
    padding: 0;
}

/* Cabecalho */
header{
    background-color: white;
    height: 100px;
    padding: 0px;
}

/* divs */
.container{
    width: 80%;
    font-size: 1.2em;
    margin: auto;
    margin-left: auto;
    margin-left: auto;
    clear: both;

    /*ajuda o site a ser responsivo*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2.5rem 0;
}

h1, h2{
    padding: 10px;
}


span{
    padding: 10px;
}

p{
    padding: 10px;
}

/* Menu */
#menu{
    float: right;
    width: 20%;
    height: 100%;
    margin-top: 0;
}

#menu a{
    text-decoration: none;
    color: black;
    text-shadow: 1px;
    padding: 10px;
}

#menu a:hover{
    background-color: #f8efed;
    color: white;
}*/

.menu-lista{
    list-style: none;
    margin: 20px;
    padding: 50px;
}

.menu-lista li{
    display: inline-block;
    margin-right: 10px;
}

.menu-toggle{
    display: none;
}

@media (max-width: 600px) {
    .menu-lista {
      display: none;
    }
    
    .menu-toggle {
      display: block;
    }
  }

/* logo */
.logo{
    width: 100px;
    height: auto;
    border-radius: 10%;
}


/* Corpo */
body{
    background-image: url(img/Logo\ Reis.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 010px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
    line-height: 1;
    display: block;
}

img{
    max-width: 100%;
    height: auto;
}

img.perfil{
    border-radius: 50%;
    max-width: 100%;
}


/* Responsividade do site */



/* Rodape */
#rodape{
    clear: both;
    position: absolute;
    bottom: -50%;
    margin: 0;
    background-color: white;
    padding: 50px 0 0;
    padding-bottom: 10%;
    width: 100%;
    border: none;

}

#rodape p{
    text-align: center;
    clear: both;
}

.logo-footer{
    width: 50px;
    height: auto;
    border-radius: 10%;
    padding: 20px;
}